<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jlhp.sivale" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".SiValeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver
            android:name="me.jlhp.sivale.updater.SiValeAlarm"
            android:process=":remote" >
        </receiver>

        <service
            android:name="me.jlhp.sivale.updater.SiValeService"
            android:exported="false" />

        <activity
            android:name=".CardActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b5111c8611c598f50b484fb7c446a678ec37665c" />

        <activity
            android:name=".CardDetailsActivity"
            android:label="@string/title_activity_card_details" >
        </activity>
        <activity
            android:name=".TransactionActivity"
            android:label="@string/title_activity_transaction" >
        </activity>
    </application>

</manifest>
